{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "indent": [ "error", 4 ],
    "comma-dangle": "off",
    "array-bracket-spacing": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
